<a-mixin
  id="gameMenuButton"
  mixin="bigMenuButton"
  animation__mouseenter="property: components.slice9.material.color; type: color; from: #CCC; to: #FAFAFA; startEvents: mouseenter; pauseEvents: mouseleave; dur: 150"
  animation__mouseleave="property: components.slice9.material.color; type: color; from: #FAFAFA; to: #CCC; startEvents: mouseleave; pauseEvents: mouseenter; dur: 150"
  slice9="width: 1; height: 0.27;"></a-mixin>

<a-mixin
  id="gameMenuButtonText"
  mixin="font"
  position="0 -0.08 0.01"
  text="align: center; wrapCount: 17; color: #FFF"></a-mixin>

<!-- Titles. -->
<a-entity id="inGameMenuTitles" position="0 1.7 -2.3">
  <a-entity mixin="gameMenuButtonText" text="value: PAUSED; color: #FAFAFA; width: 4" bind__visible="isPaused"></a-entity>
</a-entity>

<a-entity
  id="gameMenu"
  bind__visible="isPaused"
  position="0 1.1 -2"
  play-sound="event: mouseenter; sound: #hoverSound; volume: 0.03"
  play-sound__click="event: click; sound: #confirmSound; volume: 0.25">

  <!-- Actions. -->
  <a-entity
    id="resumeButton"
    mixin="gameMenuButton"
    bind__visible-raycastable="isPaused"
    position="0 0.35 0"
    proxy-event="event: click; to: a-scene; as: gamemenuresume">
    <a-entity mixin="gameMenuButtonText" text="value: RESUME"></a-entity>
  </a-entity>

  <a-entity
    id="restartButton"
    mixin="gameMenuButton"
    bind__visible-raycastable="isPaused"
    proxy-event="event: click; to: a-scene; as: gamemenurestart">
    <a-entity mixin="gameMenuButtonText" text="value: RESTART SONG"></a-entity>
  </a-entity>
</a-entity>
