<a-entity
  id="loadingSongInfoContainer"
  bind__animation__scale="enabled: challenge.isLoading || !hasReceivedUserGesture && !challenge.hasLoadError"
  bind__visible="challenge.isLoading || !hasReceivedUserGesture || challenge.hasLoadError"
  animation__scale="property: scale; from: 1 1 1; to: 1.05 1.05 1.05; dir: alternate; loop: true; dur: 1200; easing: easeInOutCubic"
  position="0 1.5 -1">

  <a-entity mixin="slice" slice9="opacity: 0.9; width: 0.77; height: 1.15; padding: 0.08" position="0 -0.09 -0.03"></a-entity>

  <a-entity id="loadingSongImage"
    bind__blob-texture="src: challenge.image"
    geometry="primitive: plane; buffer: false; skipCache: true; height: 0.3; width: 0.3"
    material="shader: flat; transparent: true"
    position="0 0.24 0"
    bind__visible="!!challenge.image && !challenge.hasLoadError"></a-entity>

  <a-entity id="loadingSongInfo">
    <a-entity position="0 -0.05 0" mixin="font"
      text="wrapCount: 40; align: center; color: #FF185B"
      bind__text="value: challenge.songSubNameShort"></a-entity>
    <a-entity position="0 -0.13 0"
      mixin="font" text="align: center; color: #FFF; wrapCount: 21; baseline: top; lineHeight: 36; width: 0.81"
      bind__text="value: challenge.songNameShort"></a-entity>

    <a-entity
      id="loadingText"
      mixin="font"
      bind__text="value: isSongBufferProcessing && 'Processing audio...' || 'Downloading song...'"
      bind__visible="challenge.isLoading || isSongBufferProcessing && !challenge.hasLoadError"
      text="align: center; color: #FAFAFA; wrapCount: 18; width: 0.65"
      position="0 -0.32 0.001"></a-entity>

    <a-entity
      id="loadingErrorText"
      mixin="font"
      bind__text="value: challenge.loadErrorText"
      bind__visible="challenge.hasLoadError"
      text="align: center; color: #FAFAFA; wrapCount: 18; width: 0.65"
      position="0 -0.09437 0.001"></a-entity>

    <a-entity
      id="challengeLoadingIndicator"
      bind__visible="challenge.isLoading || isSongBufferProcessing"
      geometry="primitive: plane; height: 0.1; width: 0.1"
      material="shader: ring; color: #FAFAFA; radiusInner: 0.2; radiusOuter: 0.9; progress: 0; transparent: true"
      position="0 -0.38 0.002"
      visible="false">
    </a-entity>

    <a-entity
      id="songProcessingIndicator"
      bind__animation__spin="enabled: isSongBufferProcessing"
      bind__visible="isSongBufferProcessing"
      animation__spin="property: object3D.rotation.z; from: 0; to: -360; easing: linear; dur: 1000; loop: true"
      geometry="primitive: plane; height: 0.2; width: 0.2"
      material="shader: ring; color: #ABABAB; radiusInner: 0.2; radiusOuter: 0.4; transparent: true; progress: 0.2"
      position="0 -0.38 0.004"
      visible="false">
    </a-entity>

    <a-entity
      id="loadingGestureButton"
      mixin="bigMenuButton"
      bind__visible-raycastable="!challenge.isLoading && !isPlaying && !isPaused && !hasReceivedUserGesture && !isSongBufferProcessing && !challenge.hasLoadError"
      position="0 -0.31923 0.01"
      proxy-event="event: click; to: a-scene; as: usergesturereceive"
      slice9="width: 0.725"
      visible="false">
      <a-entity id="loadingGestureText" mixin="font" text="align: center; color: #FAFAFA; wrapCount: 40; value: CLICK ANYWHERE TO PLAY" position="0 -0.0329 0.001"></a-entity>
      <a-entity id="moonrider" mixin="font" text="align: center; color: #FAFAFA; baseline: top; wrapCount: 50; value: For another viewer,\ncheck out moonrider.xyz" position="0 -0.184 0.001"></a-entity>
    </a-entity>
  </a-entity>
</a-entity>
