<!DOCTYPE html>
<html>
  <head>
    <title>BeatSaver Viewer</title>
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="assets/img/favicon.png" type="image/x-icon">
    {% if DEBUG_AFRAME %}
      <script src="http://{{ HOST }}:9000/dist/aframe-master.js"></script>
    {% elif IS_PRODUCTION %}
      <script src="vendor/aframe-master.min.js"></script>
    {% else %}
      <script src="vendor/aframe-master.js"></script>
    {% endif %}
    <script src="build/build.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
  </head>
  <body>
    <a-scene
      mixin="bgColorAnimation tunnelColorAnimation leftLaserColorAnimation rightLaserColorAnimation textGlowColorAnimation floorColorAnimation"
      bind__beat-generator="difficulty: challenge.difficulty; isPlaying: isPlaying"
      bind__pauser="enabled: isPlaying"
      bind__song="audio: challenge.audio; difficulty: challenge.difficulty; isPaused: isPaused; isPlaying: isPlaying; hasReceivedUserGesture: hasReceivedUserGesture; isBeatsPreloaded: challenge.isBeatsPreloaded"
      bind__song-controls="difficulty: challenge.difficulty; isPlaying: isPlaying; songName: challenge.songName; songSubName: challenge.songSubName; songImage: challenge.image"
      bind__zip-loader="difficulty: challenge.difficulty; id: challenge.id; isSafari: isSafari"
      console-shortcuts
      debug-controller
      debug-song-time
      debug-state
      hack
      cursor="rayOrigin: mouse"
      gpu-preloader
      {% if DEBUG_INSPECTOR %}
        inspector="url: http://localhost:3333/dist/aframe-inspector.js"
      {% else %}
        inspector="url: https://cdn.jsdelivr.net/gh/aframevr/aframe-inspector@master/dist/aframe-inspector.min.js"
      {% endif %}
      iframe-url
      loading-screen="backgroundColor: #000;"
      pool__beat-arrow-blue="mixin: arrowBlueBeat; size: 10; container: #beatContainer"
      pool__beat-arrow-red="mixin: arrowRedBeat; size: 10; container: #beatContainer"
      pool__beat-dot-blue="mixin: dotBlueBeat; size: 10; container: #beatContainer"
      pool__beat-dot-red="mixin: dotRedBeat; size: 10; container: #beatContainer"
      pool__beat-mine="mixin: mine; size: 12; container: #beatContainer"
      pool__beat-glow="mixin: beatGlow; size: 20; container: #glowContainer"
      pool__wall="mixin: wall; size: 30; container: #beatContainer"
      proxy-event__cleargame="event: gamemenurestart; as: cleargame; to: a-scene"
      proxy-event__pausegame="event: pausegame; as: textglowoff; to: a-scene"
      proxy-event__resumegame="event: gamemenuresume; as: textglownormal; to: a-scene"
      search
      stage-colors="color: blue"
      stats-param
      user-gesture
      vr-mode-ui="enterVRButton: #vrButton"
      tutorial-2d>

      <a-assets timeout="10000">
        {% include './assets.html' %}
      </a-assets>

      <a-entity id="beatObjTemplate" obj-model="obj: #beatObj" visible="false"></a-entity>
      <a-entity id="arrowRedObjTemplate" obj-model="obj: #arrowredObj" visible="false"></a-entity>
      <a-entity id="arrowBlueObjTemplate" obj-model="obj: #arrowblueObj" visible="false"></a-entity>
      <a-entity id="dotRedObjTemplate" obj-model="obj: #dotredObj" visible="false"></a-entity>
      <a-entity id="dotBlueObjTemplate" obj-model="obj: #dotblueObj" visible="false"></a-entity>
      <a-entity id="mineObjTemplate" obj-model="obj: #mineObj" visible="false"></a-entity>
      <a-entity id="cursorLaser" obj-model="obj: #laserObj" visible="false"></a-entity>

      <a-entity id="beatContainer" bind__pause="isPaused: !isPlaying" beat-hit-sound></a-entity>

      {% include './templates/stage.html' %}
      {% include './templates/gameMenu.html' %}

      {% include './templates/loading.html' %}

      <a-entity id="glowContainer"></a-entity>

      <a-entity
        id="saberParticles"
        particleplayer="src: #saberParticlesJSON; interpolate: true; pscale: 0.55; dur: 800; loop: false; on: explode; img: #sparkImg; count: 20%; animateScale: true; initialScale: 4 1 1; finalScale: 0.2 0.2 1"></a-entity>
      <a-entity
        id="mineParticles"
        particleplayer="src: #mineParticlesJSON; pscale: 0.5; interpolate: true; scale: 1.4; loop: false; on: explode; img: #sparkImg; count: 20%; animateScale: true; initialScale: 3 1 1; finalScale: 0.2 0.2 1"></a-entity>
      <a-entity
        id="sparkParticles"
        particleplayer="src: #sparksJSON; color: #fcc; pscale: 0.5; on: explode; scale: 0.12; loop: false; img: #spark2Img; dur: 700; count: 50%; animateScale: true; initialScale: 3 0.5 1; finalScale: 0.1 0.5 1"></a-entity>

      <a-mixin
        id="cursorMesh"
        material="shader: flat; transparent: true; src: #cursorMeshImg; depthTest: false"
        ></a-mixin>

      <!-- Player. -->
      <a-entity id="cameraRig">
        <a-entity id="camera" position="0 1.6 0.5" camera look-controls wasd-controls>
          <a-entity
            id="cameraCollider"
            geometry="primitive: box; width: 0.10; height: 0.10; depth: 0.10"
            visible="false"></a-entity>
        </a-entity>
      </a-entity>

      <a-entity
        id="mouseCursor"
        bind__raycaster="enabled: !inVR"
        mixin="raycaster"
        cursor="rayOrigin: mouse"
        raycaster="objects: [raycastable]"></a-entity>
      <a-entity
        id="mouseCursorMesh"
        mixin="cursorMesh"
        cursor-mesh="cursorEl: #mouseCursor"
        bind__cursor-mesh="active: menuActive"></a-entity>
    </a-scene>

    <a id="vrButton" href="#" title="Enter VR / Fullscreen"></a>
    {% include './templates/controls.html' %}
    {% include './templates/ga.html' %}

    <div id="search"></div>
    <span id="iframeUrl"></span>

    <div id="camera">
        <video id="cam" class="board" style="display:none;" autoplay></video>
        <canvas id="output" class="board" width="640px" height="480px"></canvas>
    </div>

    <script>
      var videoElement;
      var _callback;
      const video = document.querySelector('video');
      class CamBodyDetector{

    static async start(v_width=640,v_height=480,callback){
        
        const constraints = {
            audio: false,
            video: {
              height: v_height,
              width: v_width,
              
            }
        };
                
        navigator.mediaDevices.getUserMedia(constraints).
            then((stream) => {
                video.srcObject = stream});
        
        videoElement = document.getElementById(video.id);
        videoElement.width = v_width;
        videoElement.height = v_height;
        var body = await Body.startDetection();
        var getBody = function Bestimate(){
          body.estimate(CamBodyDetector.getVideoElement(),CamBodyDetector.getCallBack());
        }
        
        _callback = function call(bd){
            callback(bd);
            CamBodyDetector.requestAnimationFrame(getBody);
        }
        CamBodyDetector.requestAnimationFrame(getBody);
    }
    static requestAnimationFrame(callback) {
        setTimeout(callback, 1000 / 60);
    }
    static getVideoElement(){
        return videoElement;
    }
    static getCallBack(){
        return _callback;
    }
}

let _instance = null;
class Body{
    constructor(net){
        this.net = net;
        this.imageScaleFactor = 0.5;
        this.outputStride = 16;
        this.flipHorizontal = false;
    }
    
    static async startDetection(){
        if(_instance != null){
            return _instance;
        }
        await posenet.load().then(function(net){
            _instance = new Body(net)
        });
        
        return _instance;
    }

    static getInstance(){
        return _instance;
    }

    estimate(Element,callback){
        this.net.estimateSinglePose(Element, this.imageScaleFactor, this.flipHorizontal, this.outputStride).then(function(pose){
            // console.log(pose);
            var bd = Body.getInstance();
            bd.setParts(pose);
            callback(bd);
          });
    }

    setParts(parts){
        this.nose = parts.keypoints[0];
        this.Leye = parts.keypoints[1];
        this.Reye = parts.keypoints[2];
        this.Lear = parts.keypoints[3];
        this.Rear = parts.keypoints[4];
        this.Lshoulder = parts.keypoints[5];
        this.Rshoulder = parts.keypoints[6];
        this.Lhand = parts.keypoints[9];
        this.Rhand = parts.keypoints[10];
    }

    calculateFaceAngle(){
        return Math.atan(Math.abs(this.Lear.position.y - this.Rear.position.y)/Math.abs(this.Lear.position.x - this.Rear.position.x)) * (this.Lear.position.y - this.Rear.position.y) / Math.abs(this.Lear.position.y - this.Rear.position.y);
    }

    calculateHeadPosition(){
        // console.log(this.Rhand.position);
        if(this.Rhand.position.x < 50 && this.Rhand.position.y < 100){
            console.log('TOP RIGHT CORNER')
        } else if(this.Rhand.position.x > 300 && this.Rhand.position.y > 400){
            console.log('BOTTOM LEFT CORNER')
        }
        // return [this.Rear.position.x,
        //         this.Reye.position.y-Math.abs(this.Reye.position.y-this.Rear.position.y)*4,
        //         Math.abs(this.Rear.position.x-this.Lear.position.x),
        //         Math.abs(this.Rear.position.y-this.Rshoulder.position.y)
        //         ]

        return [this.Rhand.position.x,
            this.Rhand.position.y
            ]
    }

}



        const canvas = document.getElementById('output');
        const ctx = canvas.getContext('2d');
    
        var drawer = function draw(detectedBody){
            ctx.drawImage(CamBodyDetector.getVideoElement(), 0, 0,640,480);
            // headPosition = detectedBody.calculateHeadPosition();
            leftHandPosition = detectedBody.calculateHeadPosition();
            ctx.translate(CamBodyDetector.getVideoElement().width/2, CamBodyDetector.getVideoElement().height/2);
            ctx.rotate(detectedBody.calculateFaceAngle());
            ctx.translate(-CamBodyDetector.getVideoElement().width/2, -CamBodyDetector.getVideoElement().height/2);
            ctx.beginPath();
            ctx.rect(leftHandPosition[0], leftHandPosition[1],10,10);
            ctx.lineWidth = 10;
            ctx.strokeStyle = "#ffffff";
            ctx.stroke();
            ctx.setTransform(1, 0, 0, 1, 0, 0); 
        }

        CamBodyDetector.start(640,480,drawer);
    </script>
  </body>
</html>
